* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top,#dadbd3 80%, #009688 20% ) !important;
}
.padding-mc{
    padding: 40px;
}
.debug{
    background: blue;
    border: 2px solid black;
    padding: 20px;
}
.height-mc {
    height: 90vh
}
.col-8 .height-chat-active,
.col-4 .height-chat-active,
.col .height-chat-active {
    flex: 0 0 0%;
}
i{
    pointer-events: auto;
    user-select: none;
}

/* SEZIONE USER  */
.user-mc{
    background-color:#eaeaea;
    border-right: 1px solid black;
    height: 100px;
}
img{
    aspect-ratio: 1/1;
    margin: 5px;
    width: 50px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}
.user-mc  i{
    font-size: 20px;
    padding: 10px;
    color: #b1b1b1;
}


/* SEZIONE NEWS E CAMPANELLA  */

.row .news-mc{
    background-color: #8edafc;
    padding: 15px 0;
    height: 100px;
}
.news-mc i{
    background-color: white;
    color:#8edafc;
    font-size: 24px;
    padding: 10px;
    border-radius: 100%;
    margin: 0 10px;
    aspect-ratio: 1/1;
}
.news-mc a{
    font-size: 10px;
    color: #4f7589;
}
.news-mc h2{
    font-size: 13px;
    font-weight: bold;
}

/* SEZIONE CERCA  */

.search-mc{
    background-color: white;
    height: 80px;
}
.search-mc i{
    padding: 10px;
}




/* SEZIONE GRUPPO DI CHAT  */
.chat-group-mc{
   background-color: white;
   height: calc(100% - 280px);
}
.chat-active{
    background-color: #e9ebeb;
}
.border-chat-mc{
    border-top:  1px solid #e9ebeb;
}
.time-mess-mc{
    font-size: 13px;
    color:#c5ccd8 ;
    font-weight: 500;
}
.text-mess-mc{
    color: #b1b1b1;
    font-size: 13px;
    font-weight: 500;
}



/* SEZIONE UTENTE CHAT SELEZIONATA */

.active-user{
    background-color:#eaeaea;
}

.text-active-mess-mc{
    color:#9a9ba7 ;
}
.active-user i{
    font-size: 20px;
    padding: 10px;
    color: #b1b1b1;
}


/* SEZIONE DELLA CHAT  */

.bg-mc{
    background-repeat: repeat;
    background-image: url(../img/desktop-wallpaper-i-made-this-neon-edit-of-the-default-backgrounds-for-dark-mode-1125x1952-for-your-mobile-tablet-whatsapp-aesthetic-thumbnail.jpeg);
}
.bg-pill-user,
.bg-pill-other{
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
}
.bg-pill-user{
    background-color: #d5f9ba;
}
.bg-pill-other{
    background-color: white ;
}
.time-mess-chat-mc{
    font-size: 10px;
    color:#c5ccd8 ;
    font-weight: 500;
}
.margin-chat{
    margin: 0 10px;
}


/* SEZIONE PER SCRIVERE  */

.write-mc{
    background-color: #f3eeea;
}
.write-mc i{
    padding: 10px;
    color: #6c7274;
    font-size: 20px;
}



